@let(title = 'Delete teabag')
@include('partials/header')

<h1>Confirmer la suppression</h1>
<p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
<form action="{{ route('/teabags.delete', { id: teaBag.id }) }}" method="post">
  {{ csrfField() }}
  <button type="submit">Supprimer</button>
</form>
@include('partials/footer')
