

@let(title = 'Admin')
@include('partials/header')

  <h1>Disable User</h1>
  <p>Are you sure you want to disable this user?</p>
  <form action="/admin/disableUser/{{ user.id }}" method="POST">
    {{ (csrfField) }}
    <button type="submit">Disable User</button>
  </form>

 @include csrfField
