@let(title = 'My page admin')
@include('partials/header')
<h1>Bienvenue à l'admin</h1>
<nav>
  <ul>
    <li><a href="{{ route('/dashboard') }}">Dashboard</a></li>
    <li><a href="{{ route('/minters') }}">Utilisateurs</a></li>
    <li><a href="{{ route('/teabags.index') }}">TeaBags</a></li>
    <li><a href="{{ route('/nfts.index') }}">NFTs</a></li>
    <li><a href="{{ route('/commentaries.index') }}">Commentaires</a></li>
  </ul>
</nav>
@include('partials/footer')
