<!-- listReports.edge -->

@extends('layouts.admin')

@section('content')
  <h1>List Reports</h1>
  <ul>
    @foreach(reports as report)
      <li>{{ report }}</li>
    @endforeach
  </ul>
@endsection
