
<h1>Confirmer la suppression du "TeaBag"</h1>
<p>Êtes-vous sûr de vouloir supprimer ce "TeaBag" ?</p>
<form action="{{ route('admin.teabags.delete', { id: teaBag.id }) }}" method="post">
  {{ csrfField() }}
  <button type="submit">Supprimer</button>
</form>
