<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <h1> Hello minter </h1>
  <a href="localhost:5174/generate-password/{{token}}">Click here to verify your email</a>
</body>
</html>
